<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Platformer</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="game">
            <canvas id="canvas1"></canvas>
            <img
                id="player-run"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/Ball and Chain Bot/run.png"
            />
            <img
                id="player-attack"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/Ball and Chain Bot/attack.png"
            />
            <img
                id="player-charge"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/Ball and Chain Bot/charge.png"
            />
            <img
                id="player-death"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/Ball and Chain Bot/death.png"
            />
            <img
                id="player-hit"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/Ball and Chain Bot/hit.png"
            />
            <img
                id="player-idle"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/Ball and Chain Bot/idle.png"
            />
            <img
                id="player-transition to charge"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/Ball and Chain Bot/transition to charge.png"
            />
            <img
                id="background-bg"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/background/layers/bg.png"
            />
            <img
                id="background-far-trees"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/background/layers/far-trees.png"
            />
            <img
                id="background-mid-trees"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/background/layers/mid-trees.png"
            />
            <img
                id="background-trees"
                src="/var/www/react/portofolio-website/src/components/NewGame/img/background/layers/trees.png"
            />
        </div>
        <script src="script.js"></script>
    </body>
</html>
