/* game */
.cell {
    /* border-bottom: 1px solid #777; */
    font-size: 0.7rem;
}
.roguelike__wrapper {
    display: flex;
    flex-direction: column;
}

.field__container {
    display: grid;
    grid-template-columns: repeat(51, 1fr);
    border: 1px solid #777;
    max-width: 600px;
}
.game-pad__wrapper {
    display: flex;
    justify-content: center;
    max-width: 300px;
}
.game-pad__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-memo {
    font-size: 0.8rem;
}
@media (min-width: 500px) {
    .text-memo {
        margin-left: 40px;
    }
}
.roguelike-button {
    max-width: 300px;
}
