.cart__quantity {
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    font-size: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 7px;
    top: -2px;
}

.cart__wrapper {
    display: flex;
}
