::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #35353538;
    -webkit-border-radius: 10ex;
    border-radius: 10ex;
}

::-webkit-scrollbar-thumb {
    background: #353535;
    -webkit-border-radius: 1ex;
    border-radius: 10ex;
}

::-webkit-scrollbar-corner {
    background: #000;
}
.slider {
    display: inherit;
}
.slider__mask {
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}
.slider__overflow {
    overflow: auto;
}
