.slider__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;
    width: 300px;
    scrollbar-width: thin;
    scrollbar-height: 10px;
    scrollbar-color: hsla(0, 0%, 100%, 0.1);
}
.slider__wrapper > * {
    margin-bottom: 7px;
}
.slider__wrapper > div {
    display: flex;
    gap: 5px;
}

.slider__wrapper > div::before {
    content: ' | ';
}

::-webkit-scrollbar {
    height: 7px;
    background: #35353538;
    -webkit-border-radius: 10ex;
    border-radius: 10ex;
}

::-webkit-scrollbar-thumb {
    background: #353535;
    -webkit-border-radius: 1ex;
    border-radius: 10ex;
}

::-webkit-scrollbar-corner {
    background: #000;
}
