.nav__list_item {
    cursor: pointer;
    list-style: none;
}
.nav__wrapper {
    display: flex;
    gap: 15px;
}
.home_page__title {
    max-width: 380px;
}
.regular_paragraph {
    max-width: 400px;
}
.nav__header {
    display: flex;
    justify-content: space-between;
}
.nav__header__button {
    border: none;
    border-bottom: 1px solid var(--bs-body-color);

    background: none;
}

pre {
    color: #84d633;
    font-weight: 600;
    font-size: 0.8rem;
    background-color: rgb(49, 49, 49);
    display: block;
    max-width: 450px;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}

pre > code {
    display: block;
}

@media (max-width: 450px) {
    pre > code {
        font-size: 0.6rem !important;
    }
}
.btn {
    margin: 5px 5px;
}
.contact__link {
    border-bottom: 1px solid;
    cursor: pointer;
}

.nav__list_link_active_animation {
    animation: blink 0.8s ease-in infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
.contacts__contact_container {
    /* max-width: 250px; */
}
.contacts__contact__container_item {
    display: grid;
    grid-template-columns: 1fr auto 6fr;
    white-space: nowrap; /* Since CSS 2.1 */
    white-space: nowrap; /* Mozilla, since 1999 */
    white-space: nowrap; /* Opera 4-6 */
    white-space: nowrap; /* Opera 7 */
    word-wrap: nowrap;
}
/* game */
.cell {
    /* border-bottom: 1px solid #777; */
    font-size: 0.7rem;
}

.field__container {
    display: grid;
    grid-template-columns: repeat(51, 1fr);
    border: 1px solid #777;
    max-width: 600px;
}
.game-pad__wrapper {
    display: flex;
    justify-content: center;
}
.game-pad__buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.projects__list {
    display: flex;
    margin: 0 5px;
    padding: 0;
    gap: 15px;
    margin-bottom: 7px;
    padding-bottom: 32px;
}
.projects__list__item {
    cursor: pointer;
    margin: 0;
    list-style: none;
    min-width: 100px;
}
.projects__list__item-span {
    position: absolute;
    padding: 10px 0;
}
.projects__list__item:hover {
    font-weight: 600;
}
.slider__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    width: 300px;

    scrollbar-width: thin;
    scrollbar-height: 10px;
    scrollbar-color: hsla(0, 0%, 100%, 0.1);
}
.slider__wrapper > * {
    margin-bottom: 7px;
}
.slider__wrapper > div {
    display: flex;
    gap: 5px;
}

.slider__wrapper > div > div::before {
    content: ' | ';
}
.slider__wrapper > * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* No*/
}
.no__select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* No*/
}
